<h1 class="text-center">Login</h1>

<p class="alert-danger" ng-model="mensagem">{{mensagem}}</p>
<form ng-submit="autenticar()">
    <div class="form-group">
        <label>Login</label>
        <input type="text" ng-model="usuario.login" class="form-control">
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" ng-model="usuario.senha" class="form-control">
    </div>
    <input type="submit" value="Entrar" class="btn btn-primary">
</form>