<ion-header>
    <ion-navbar>
        <ion-title>Sua escolha</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <!-- <ion-card-header>
        </ion-card-header> -->
        <ion-card-content>
            <ion-item-group>
                <ion-item-divider color="light">
                    <ion-icon ios="ios-car" md="md-car" item-left></ion-icon>
                    VEÍCULO
                </ion-item-divider>
                <ion-item>{{ carro.nome }}</ion-item>
                <ion-item>R${{ carro.preco }}</ion-item>
                <ion-item-divider color="light">
                    <ion-icon ios="ios-options" md="md-options" item-left></ion-icon>
                    ACESSÓRIOS
                </ion-item-divider>
                <ion-item *ngFor="let acessorio of acessorios">
                    <ion-label>
                        <h2>{{ acessorio.nome }}</h2>
                        <h3>R${{ acessorio.preco }}</h3>
                    </ion-label>
                    <ion-toggle #toggle color="secondary" (ionChange)="atualizaTotal(toggle.checked, acessorio)"></ion-toggle>
                </ion-item>
            </ion-item-group>
            <ion-item-divider color="light">
                TOTAL: R$ {{ precoTotal }}
            </ion-item-divider>
        </ion-card-content>
        <button ion-button block (click)="avancaNoAgendamento()">Avançar no agendamento</button>
    </ion-card>
</ion-content>