﻿@{
    ViewData["Title"] = "Carrossel";
}
<!DOCTYPE html>

@model List<Produto>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carrossel</title>
</head>
<body>
    <h3>Catálogo</h3>
    <div id="my-carousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @{ 
                const int TAMANHO_PAGINA = 4;
                int totalPaginas = (int)Math.Ceiling((Double)(Model.Count / TAMANHO_PAGINA));
                totalPaginas += Model.Count % TAMANHO_PAGINA;

                for (int p = 0; p < totalPaginas; p++)
                {
                    <div class="item @(p==0 ? "active": "")">                
                        <div class="row">
                            @{ 
                                var produtosPagina = Model.Skip(TAMANHO_PAGINA * p).Take(TAMANHO_PAGINA);
                            }
                            @{ 
                                foreach (Produto produto in produtosPagina)
                                {
                                    <div class="col-md-3">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <img src="~/images/produtos/large_@(produto.Id).jpg" />
                                            </div>
                                            <div class="panel-footer">
                                                <div>@(produto.Id)</div>
                                                <div>R$@(produto.Preco)</div>
                                                <div class="text-center">
                                                    <!-- <a href="/pedido/carrinho">Adicionar</a> -->
                                                    <!-- @@Html.ActionLink("Adicionar", "carrinho", "pedido") -->
                                                    <a asp-action="carrinho">Adicionar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }                    
                        </div>
                    </div>
                }
            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</body>
</html>
