﻿@{
    ViewData["Title"] = "Carrinho";
}

@model Carrinho

<h3>Meu Carrinho</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">Item</div>
            <div class="col-md-2 text-center">Preço unitário</div>
            <div class="col-md-2 text-center">Quantidade</div>
            <div class="col-md-2">
                <span class="pull-right">Sub Total</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @foreach(ItemPedido itemPedido in Model.ListaItemPedido) 
        {
            <div class="row row-center">
                <div class="col-md-3">
                    <img src="~/images/produtos/small_@(itemPedido.Produto.Id).jpg" />
                </div>
                <div class="col-md-3">@(itemPedido.Produto.Nome)</div>
                <div class="col-md-2 text-center">R$ @(itemPedido.Produto.Preco)</div>
                <div class="col-md-2 text-center">@(itemPedido.Quantidade)</div>
                <div class="col-md-2">
                    <span class="pull-right">R$ @(itemPedido.SubTotal)</span>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">Total: @(Model.ListaItemPedido.Count) @(Model.ListaItemPedido.Count < 2 ? "item" : "itens")</div>
            <div class="col-md-2">
                <span class="pull-right">R$ @(Model.Total)</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- <a href="/pedido/resumo" class="btn btn-success pull-right">Finalizar pedido</a> -->
        <!-- @@Html.ActionLink("Finalizar pedido", "resumo", "pedido", null, new { @@class = "btn btn-success pull-right" }) -->
        <a class="btn btn-success pull-right" asp-action="resumo">Adicionar</a>
    </div>
</div>
