﻿
@{
    ViewData["Title"] = "Resumo";
}

<h3>Resumo do Pedido</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Nº do Pedido: 123456789</h4>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h4>Seus dados</h4>
                <div>João da Silva</div>
                <div>(11)1234-5678</div>
            </div>
            <div class="col-md-3">
                joao@alura.com.br
            </div>
            <div class="col-md-6">
                <h4>Endereço de Entrega</h4>
                <div>Rua Vergueiro, 123, Vila MAriana - São Paulo - SP</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                <h4>Item</h4>
                <div>Test-Driven Development</div>
                <div>May the code be with you</div>
                <div>Rollback</div>
            </div>
            <div class="col-md-2">
                <h4 class="text-right">Quantidade</h4>
                <div class="text-right">1</div>
                <div class="text-right">1</div>
                <div class="text-right">1</div>
            </div>
        </div>
    </div>
</div>
