<!-- public/partials/foto.html -->
<div class="page-header text-center">
    <!--<h1>TITULO DA FOTO AQUI</h1>-->
    <h1>{{foto.titulo ? foto.titulo : "Sem título"}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="col-md-6">
        <div class="form-group">
            <label>Título</label>
            <input ng-model="foto.titulo" name="titulo" class="form-control" required ng-maxlength="20">
            <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">
               Título obrigatório
            </span>
            <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">
               O título deve ter no máximo 20 caracteres
            </span>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input ng-model="foto.url" name="url" class="form-control" required>
            <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">
               URL obrigatória
            </span>
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea ng-model="foto.descricao" name="descricao" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="">Grupo</label>
            <select name="grupo" class="form-control titleCase" required ng-controller="GruposController"
                ng-model="foto.grupo"
                ng-options="grupo._id as (grupo.nome | lowercase) for grupo in grupos">
                <option value="">Selecione Grupo</option>
            </select>
            <span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">
               Grupo obrigatório
            </span>
        </div>

        <!--<button type="submit" class="btn btn-primary">Salvar</button>-->
        <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
        <a href="/" class="btn btn-primary" meu-foco>Voltar</a>
        <hr>
    </div>
    <div class="col-md-6">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
    </div>
</form>