<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p class="alert alert-info" ng-show="mensagem.length">{{mensagem}}</p>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="fotos/new" class="btn btn-primary">Nova Foto</a>
                </span>
                <input ng-model="filtro" ng-model-options="{debounce: 250}" class="form-control" placeholder="Filtrar">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtrar" titulo={{foto.titulo}}>
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
        <a href="fotos/edit/{{foto._id}}" class="btn btn-primary btn-block">Editar</a>
        <!--<button ng-click="remover(foto)" class="btn btn-danger btn-block">Remover</button>-->
        <meu-botao-perigo acao="remover(foto)" nome="Remove"></meu-botao-perigo>
    </meu-painel>
</div>
<meus-titulos></meus-titulos>