h2 {
  position: absolute;
  top: 0;
}

li {
  position: static;
}

div {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: blueviolet;
  transform: translateX(300px) rotate(45deg) scale(1.5);
}

.botao {
  border: 8px solid purple;
}

.botao:hover {
  background-color: purple;
}