.tabs .indicator {
    background-color: white;
}

body {
    background-color: #F2F2F2;
}

.titulo {
    font-size: 1.3rem;
    margin-left: 5%;
    margin-right: auto;
}

.topo-fixo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.section {
    padding-top: 125px;
}

.collapsible-section {
    padding-top: 105px;
}

.collapsible-header {
    left: 0px;
    width: 100%;
    margin-bottom: 5px;
}

.collapsible-body{
    left: 0px;
    width: 100%;
    padding: 5px;
}

.drag-target {
    width: 5%;
}

h6 .material-icons {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
}

.dropdown-content {
   background-color: #F2F2F2;
}