<ion-header>
  <ion-navbar>
    <ion-title>Estamos quase lá!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>{{ carro.nome }}</h2>
  <p>R${{ precoTotal }}</p>

  <form (ngSubmit)="agenda()" >
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input [(ngModel)]="agendamento.nome" name="nome" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Endereço</ion-label>
      <ion-input [(ngModel)]="agendamento.endereco" name="endereco" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input [(ngModel)]="agendamento.email" name="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Data do Agendamento</ion-label>
      <ion-datetime [(ngModel)]="agendamento.data" name="data"
      displayFormat="DD/MM/YY"
      pickerFormat="DD/MMM/YY" min="2018"
      yearValues="2018,2019" doneText="Ok" cancelText="Cancelar"
      monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"></ion-datetime>
    </ion-item>
    <button ion-button block type="submit">Finalizar Agendamento</button>
  </form>
</ion-content>
