<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/promocoes" method="post">
            <div>
                <input type="text" name="mensagem">
            </div>
            <div>
                <!--Extensão do body parser, o [] é usado para extender as propriedades -->
                <!-- livro[id] >> livro: { id: '6' } -->
                <select name="livro[id]">
                    <%for(var i = 0; i < lista.length; i++){%>
                    <option value="<%=lista[i].id%>"><%=lista[i].titulo%></option>
                    <%}%>
                </select>
            </div>
            <input type="submit" name="" value="Cadastrar promoção">
        </form>
    </body>
</html>