<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="error">
            <%if(errosValidacao) {%>
            <ul>
                <%for(var i = 0; i < errosValidacao.length; i++) {%>
                    <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                <%}%>
            </ul>
            <%}%>
        </div>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="Título do livro"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="Preço (R$50,00)"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="50" rows="10" id="descricao" name="descricao" value="" 
                    placeholder="Fale sobre o livro"><%=produto.descricao%></textarea>
            </div>
            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>