<ion-header>
  <ion-navbar>
    <ion-title>
      aluraCar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let carro of carros" (click)="seleciona(carro)">
      <h2>{{carro.nome}}</h2>
      <h3>{{carro.preco}}</h3>
      <p>Disponivel</p>
    </ion-item>
  </ion-list>
</ion-content>