 .painel-animado {
    -moz-transition:transform 0.9s;
    -webkit-transition:transform 0.9s;
    -ms-transition:transform 0.9s;
    -o-transition:transform 0.9s;
    transition:transform 0.9s;
}

.painel-animado.ng-leave-active {
  -moz-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
}

.titleCase {
  text-transform:capitalize;
}